ANTHROPIC_API_KEY=""

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_SESSION_TOKEN=""

AZURE_AI_LLAMA11B_CHAT_DEPLOYMENT_NAME=""
AZURE_AI_LLAMA11B_CHAT_ENDPOINT=""
AZURE_AI_LLAMA11B_CHAT_KEY=""

AZURE_AI_LLAMA90B_CHAT_DEPLOYMENT_NAME=""
AZURE_AI_LLAMA90B_CHAT_ENDPOINT=""
AZURE_AI_LLAMA90B_CHAT_KEY=""

AZURE_AI_PHI_CHAT_DEPLOYMENT_NAME=""
AZURE_AI_PHI_CHAT_ENDPOINT=""
AZURE_AI_PHI_CHAT_KEY=""

AZURE_GPT4O_API_KEY=""
AZURE_GPT4O_MODEL_ENDPOINT=""

GOOGLE_GEMINI_API_KEY=""

MISTRAL_API_KEY=""

NVIDIA_API_KEY=""